.main {
 display: flex;
 align-items: center;
 justify-content: space-between;   
 margin-top: 80px;
 padding: 0 80px;
}

.text {
    font-weight: 600;
    font-size: 84px;
    color: var(--white-primary);

}

.name {
    background-color: red;
    background-image: var(--main-gradient);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    margin-top: 54px;
    font-size: 24px;
    font-weight: 100;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.imageWraper {
    width: 600px;
    height: 700px;
}

.buttonMain {
    background-color: transparent;
    color: var(--white-primary);
    font-size: 16px;
    font-weight: 500;
    border: 1px solid var(--white-primary);
    padding: 24px 48px;
    border-radius: 100px;
    cursor: pointer;
}

.gradientButton {
    background: var(--main-gradient);
    margin-right: 20px;
    border: none;
}