.title {
    color: var(--white-primary);
    font-size: 36px;
    font-weight: 700;
}

.link {
    color: var(--black-primary);
    font-size: 16px;
    font-weight: 600;
    background-color: var(--white-primary);
    padding: 12px 24px;
    border-radius: 100px;
    text-decoration: none;
}

.header {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

@media (max-width: 767px) {
    .header {
        padding: 0 20px;
    }

    .title {
        font-size: 24px;
    }

    .link {
        padding: 8px 16px;
        font-size: 14px;
    }
}